<div class="container" id="results">
    <div class="row">
        <div *ngFor="let book of bookService.books" class="col-sm-6 col-md-4 col-lg-3 result">
            <div class="card" routerLink="/book/{{ book.id }}">
                <div class="resultTitle"><span>{{ book.title}}</span></div>
                <div class="resultBadge">
                    <span *ngFor="let category of book.categories" class="badge badge-primary">{{ category }}</span>
                </div>
                <div><img [src]="book.smallThumbnail" width="150px">
                    <div class="resultAuthor"><span>By: </span><span *ngFor="let author of book.authors">{{ author }}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>